html 
{
    scroll-behavior: smooth !important;
}
/******* scrollbar design *********/
* {
    scrollbar-width: thin;
    scrollbar-color: #84868a #f6f6f6;
  }
  
  /* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar
{
    width: 12px;
}
  
*::-webkit-scrollbar-track 
{
    background: #f6f6f6;
}
*::-webkit-scrollbar-thumb 
{
    background-color: #84868a;
    border-radius: 20px;
    border: 1px solid #f6f6f6;
}

/**** navbar design ****/
.navbar
{
    padding: 0 !important;
    background-color: #f6f6f6 !important ;
    height: 60px !important;
    
}
.container-fluid
{
    padding-left: 0 !important;
}
.navbar-brand
{
    margin-left: auto !important;
    font-family: 'Yellowtail', cursive !important;
    font-size: 25px;
    margin-right: 0 !important;
    padding: 12px 20px 10px 20px !important;
    height: 50px !important;
    color: #c70039 !important;
}
.dropdown-menu
{
    background-color: #f6f6f6 !important;
    border: none !important;
}
.navbar-toggler 
{
    z-index: 10 !important;
    line-height: normal !important;
    padding: 0 2px 0 2px !important;
    margin-left: 20px !important;
    margin-top: 0000000000000px !important;
    color: #393e46 !important;
}
.nav-item
{
    margin: 0 15px 0 15px !important;
}
.nav-link
{
    color: #212121 !important;
}
.shopping-cart
{
    text-decoration: none !important;
    color: #295e6a;
    font-size: 18px !important;
    margin-right: 10px !important;
    z-index: 10 !important;
}
*
{
    outline: none !important;
}
.dropdown-item
{
    font-size: 13px !important;
}
.dropdown-item:hover
{
    color: #c70039 !important;
}
@media (max-width: 992px) {
    
    .navbar-brand
    {   
        position: absolute;
        width: 100%;
        left: 0;
        top: 8px;
        text-align: center;
        margin: auto;
        padding: 7px 20px 10px 20px !important;
        height: 0px !important;
        background-color: #f7f7f7 !important;
        color: #c70039 !important;
    }
    .mobileMenu {
        background-color: #f6f6f6 !important;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        position: fixed;
        top: 0px;
        bottom: 0;
        margin: auto;
        left: 0;
        -webkit-transition: all ease 0.25s;
        transition: all ease 0.25s;
    }
    .mobileMenu.open {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .mobileMenu .navbar-nav {
        overflow-y: auto;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .overlay.open {
        display: block;
        z-index: 1029;
    }
    .shopping-cart
    {
        margin-right: 25px !important;
    }
}